openapi: 3.2.0
info:
  description: The API described in this document is subject to change.
  version: 1.17.0
  title: WP Engine Hosting Platform Swagger API
  termsOfService: https://wpengine.com/legal/terms-of-service/
servers:
- url: https://api.wpengineapi.com/v1
tags:
- name: Swagger
paths:
  /swagger:
    get:
      tags:
      - Swagger
      summary: The current swagger specification
      description: '# Description

        This will output the current swagger specification'
      operationId: swagger
      responses:
        '200':
          description: Current swagger specification
        '429':
          $ref: '#/components/schemas/TooManyRequestsOperation'
        '503':
          $ref: '#/components/schemas/ServiceUnavailableOperation'
      x-amazon-apigateway-integration:
        uri: https://my.wpengine.com/capi/v1/swagger
        responses:
          '200':
            statusCode: '200'
          '429':
            statusCode: '429'
          '503':
            statusCode: '503'
          default:
            statusCode: '500'
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.header.X-Request-ID: context.requestId
          integration.request.header.sourceIp: context.identity.sourceIp
        httpMethod: GET
        type: http
components:
  schemas:
    TooManyRequestsOperation:
      description: Too many requests
    ServiceUnavailableOperation:
      description: Service unavailable
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'API username and password from Portal''s API Access page: https://my.wpengine.com/api_access'
