openapi: 3.2.0
info:
  description: The API described in this document is subject to change.
  version: 1.17.0
  title: WP Engine Hosting Platform Status API
  termsOfService: https://wpengine.com/legal/terms-of-service/
servers:
- url: https://api.wpengineapi.com/v1
tags:
- name: Status
paths:
  /status:
    get:
      tags:
      - Status
      summary: The status of the WP Engine Hosting Platform API
      description: '# Description

        This endpoint will report the system status and any outages that might be occurring.'
      operationId: status
      responses:
        '200':
          description: Status of API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '429':
          $ref: '#/components/schemas/TooManyRequestsOperation'
        '503':
          $ref: '#/components/schemas/ServiceUnavailableOperation'
      x-amazon-apigateway-integration:
        uri: https://my.wpengine.com/capi/v1/status
        responses:
          '200':
            statusCode: '200'
          '429':
            statusCode: '429'
          '503':
            statusCode: '503'
          default:
            statusCode: '500'
        requestParameters:
          integration.request.header.X-Request-ID: context.requestId
          integration.request.header.sourceIp: context.identity.sourceIp
        passthroughBehavior: when_no_match
        httpMethod: GET
        type: http
components:
  schemas:
    Status:
      type: object
      properties:
        success:
          type: boolean
          example: true
        created_on:
          type: string
          example: '2018-05-17T16:20:40+00:00'
          description: The time when the status was requested in rfc3339 format
    TooManyRequestsOperation:
      description: Too many requests
    ServiceUnavailableOperation:
      description: Service unavailable
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'API username and password from Portal''s API Access page: https://my.wpengine.com/api_access'
